{% load account %}
{% user_display user as user_display %}
{% load i18n %}

<p>
    {% blocktrans with site_name=current_site.name site_domain=current_site.domain %}Hello from {{ site_name }}!
</p>
<p>
    You're receiving this e-mail because you or someone else has requested to verify your e-mail address at {{ site_name }}.
</p>
<p>
    To complete the verification process for {{ user_display }}, please click the following link:
</p>
<p>
    <a href="{{ activate_url }}">{{ activate_url }}</a>
</p>
<p>
    Thank you for using {{ site_name }}!
</p>
<p>
    The {{ site_name }} Team{% endblocktrans %}
</p>
